/*** Josh W Comeau's CSS Reset ala joshwcomeau.com, but heavily modified for my preferences - Brady Frey bradyjfrey.com ***/
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;padding: 0;}
body {line-height: 1.5;-webkit-font-smoothing: antialiased;text-align: center;}
img, picture, video, canvas, svg {display: block;max-width: 100%;height: auto;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}

/* Sebastiano Guerriero Typography System utilizing Hoefler&Co's beautiful typography */
:root {
    --font-primary: "Mercury Text G1 A", "Mercury Text G1 B", georgia, times, serif;
    --font-secondary: "Tungsten A", "Tungsten B", helvetica, arial, sans-serif;
    --font-tertiary: "Gotham A", "Gotham B", helvetica, arial, sans-serif;

    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.4;
}
@include breakpoint(md) {
    :root {
        --text-base-size: 1em;
        --text-scale-ratio: 1.25;
    }
}
body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--color-text);
}
h1, h2, h3, h4, form legend {
    color: var(--color-text-heading);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
}
/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
}
h2, .text--xl {
    font-size: var(--text-xl);
}
h3, .text--lg {
    font-size: var(--text-lg);
    font-family: var(--font-primary);
}
p span, p a, main li a {
    font-family: var(--font-secondary);
    font-size: var(--text-sm);
    text-transform: uppercase;
    font-weight: 700;
}
h4, .text--md {
    font-size: var(--text-md);
    font-family: var(--font-secondary);
}
.text--sm, small {
    font-size: var(--text-sm);
}
.text--xs {
    font-size: var(--text-xs);
}
p {
    line-height: var(--body-line-height);
}
b, strong {
    font-weight: bold;
}
.text-container {
    h2, h3, h4 {
        margin-top: var(--space-sm);
    }
    
    ul, ol, p {
        margin-bottom: var(--space-md);
    }

    ul, ol {
        list-style-position: outside;
        padding-left: 24px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul li, ol li {
        line-height: var(--body-line-height);
    }
    
    em {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }
}
/*** utility classes ***/
.truncate {
    // truncate text if it exceeds parent
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header nav, .poster section, .latestpub, .rtitle section, .recentmedia article a div, .recentpub section, .cv section {
    max-width: 60em;
    text-align: left;
    margin: 0px auto;
}

/*** Navbar ***/
header {
    background: black;
    color: white;
    box-shadow: 0 0 1.5em black;
    z-index: 10;
    position: relative
}
nav {}
nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
nav li {
    list-style: none;
    display: inline-block;
    width: auto;
    justify-self: center;
    align-self: center;
}
nav li a {
    display: block;
    padding: 0.5em;
    color: #71adb0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Tungsten A", "Tungsten B", helvetica, arial, sans-serif;
    font-size: 1.5em;
}
.home {
    flex-grow: 2;
}
#current, nav li a:hover {
    color: white;
}

/*** Home Poster ***/
.poster {
    color: white;
    background-color: black;
   
}
.poster section {
    padding: 8em 1em 0em 1em;
    background-image: url(images/drcas.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}
.poster p {
    width: 22rem;
}
.poster ul {
    width: 22rem;
    padding: 1em 0 0 1em;
}
.poster li {
    list-style-type: circle;
    padding: 0.2em 0;
}
.poster li a {
    color: white;
    text-decoration: none;
    padding: 0.15em 0.2em;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
}
.poster li a:hover {
    background-color: white;
    color: black;
}
.poster h1 {
    max-width: 26rem;
}
#photoc {
    font-size: 0.75em;
    text-align: right;
    padding: 7.5em 0 0.25em 0;
    width: 100%;
}
#photoc a {
    color: white;
    opacity: 0.5;
    text-decoration: none;
    text-shadow: 0 0 0.5em black;
}
#photoc a:hover {
    opacity: 1;
}


/*** Main Pitch ***/
.latestpub {
    background: white;
    color: black;
    display: grid;
    padding: 1em 0;
    grid-template-columns: 12fr;
    justify-items: end;
    align-items: top;
}
.latestpub article {
    grid-column-start: 4;
    grid-column-end: 13;
    position: relative;
    right: 1em;
}
.image_wrapper {
    width: 17rem;
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
    right: 3em;
}
.attention {
    font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
    color: #e8dec8;
    margin-top: 1.5em;
    padding: 0.15em 0.5em;
    display: inline-block;
    border-radius: 2px;
    background-color: #910000;
    text-transform: uppercase;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
}
.bbutton {
    font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
    color: #e8dec8;
    margin-top: 1em;
    padding: 0.15em 0.5em;
    font-size: 0.67em;
    display: inline-block;
    border-radius: 2px;
    background-color: black;
    text-transform: uppercase;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    text-decoration: none;
    font-weight: 700;
}
.bbutton:hover {
    background: white;
    color: black;
}
.latestpub h3, .recentpub h3 {
    font-size: 1.5em;
    border-bottom: 1px solid rgb(0,0,0,0.20);
    padding: 0.25em 0;
    font-weight: 400;
}
.latestpub p, .recentpub p {
    padding: 0.5em 0;
}
.call2a {
    font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.67em;
    padding: 1.5em 0 0 0;
}
.blists {
    display: flex;
    align-items: start;
}
.blists li {
    list-style: none;
    padding-right: 1em;
}


/*** Latest Publications ***/
.rtitle {
    background: #71adb0;
    color: white;
}
.rtitle h2 {
    padding: 0.5em .75em;
    font-size: 1.5em;
    font-family: "Tungsten A", "Tungsten B", helvetica, arial, sans-serif;
    text-transform: uppercase;
}
.recentmedia {
    background: #2d4475;
    color: white;
}
.recentmedia article div {
    padding: 0 1em;
}
.recentmedia a {
    color: white;
    text-decoration: none;
    padding: 1em 0;
    display: block;
}
.recentmedia a:hover {
    background: #131c32;
    color: #e8dec8;
}
.recentmedia h4 {
    font-family: "Mercury Text G1 A", "Mercury Text G1 B", georgia, times, serif;
    font-size: 1.5em;
    font-weight: 400;
}
.recentmedia p {
    font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-top: 0.75em;
}
.recentmedia article:nth-child(1) {
    background: #2d4475;
}
.recentmedia article:nth-child(2n) {
    background: #283d69;
}
.recentmedia article:nth-child(3n) {
    background: #263a64;
}
.recentmedia article:nth-child(4n) {
    background: #24365e;
}
.recentmedia article:nth-child(5n) {
    background: #223358;
}
.recentmedia article:nth-child(6n) {
    background: #1f2f52;
}
.recentmedia article:nth-child(7n) {
    background: #1b2948;
}
footer {
    background-color: black;
    color: #676767;
}
footer p {
    font-size: 0.75em;
    padding: 1em 0;
    font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
    text-transform: uppercase;
}


/*** Book Publications ***/
#publicpage header {
    background-color: #1f2f3c;
    box-shadow: 0 0 0.3em black;
}
#publicpage nav li a {
    padding: 0.5em;
    color: white;
    opacity: 0.25;
}
#publicpage #current, #publicpage nav li a:hover {
    opacity: 1;
}
#publicpage .rtitle {
    background-color: #b4a999;
}
#publicpage .latestpub {
    padding-top: 4em;
}
.bookentry {
    list-style-type: none;
}
.bookentry section {
    color: black;
    display: grid;
    padding: 1em 0;
    grid-template-columns: 12fr;
    justify-items: end;
    align-items: top;
    list-style-type: none;
}
.bookentry article {
    grid-column-start: 4;
    grid-column-end: 13;
    position: relative;
    right: 1em;
}
.recentpub .bookentry:nth-of-type(even) {
    background: #999082;
}
.recentpub .bookentry:nth-of-type(odd) {
    background: #a29889;
}
.recentpub:nth-child(3n) {
    background: #999082;
}
.recentpub:nth-child(4n) {
    background: #24365e;
}
.recentpub:nth-child(5n) {
    background: #223358;
}
.recentpub:nth-child(6n) {
    background: #1f2f52;
}
.recentpub:nth-child(7n) {
    background: #1b2948;
}

/*** CV ***/
#cvpage header {
    background-color: #2d4475;
    box-shadow: 0 0 0.3em black;
}
#cvpage nav li a {
    padding: 0.5em;
    color: white;
    opacity: 0.25;
}
#cvpage #current, #cvpage nav li a:hover {
    opacity: 1;
}
.cv section {
    padding: 0 1em 2em 1em;
}
.cv h2 {
    font-family: "Mercury Text G1 A", "Mercury Text G1 B", georgia, times, serif;
    color: #2d4475;
    font-size: 1.5em;
    font-weight: 700;
    padding: 1.5em 0 .25em 0;
    margin-bottom: .25em;
    border-bottom: 1px solid rgb(0,0,0,0.20);
}
.cv li, .cv dl dd {
    font-family: var(--font-primary);
    font-size: 1em;
    padding-bottom: 0.25em;
}
.cv ul {
    padding: 0 1.5em;
}
.cv ol {
    padding: 0 1.5em;
}
.cv dl {
  padding: 0 1.5em;
}
.cv dt {
   font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
   font-size: 1em;
   padding-top: 1em;
   font-weight: 700;
   text-transform: uppercase;
}
.cv dd {
    display: list-item;
    list-style-type: disc;
}
.cv li a, .cv dl dd a {
    color: #2d4475;
    text-decoration: none;
    border-bottom: 1px solid #2d4475;
    padding: .1em .25em;
}
.cv li a:hover, .cv dl dd a:hover {
    background-color: #2d4475;
    border-radius: .25em;
    border: none;
    color: white;
}
.cv strong {
    font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-top: 0.75em;
}

/*** Academic Writing and Public Philosophy ***/
#writing .poster section {
    background: none;
    padding: 5em 1em;
}
#writing .poster p {
    width: auto;
}
#writing header {
    background-color: #924839;
    box-shadow: 0 0 0.3em black;
}
.publicphilo header {
    background-color: #3c7f91 !important;
}
#writing nav li a {
    padding: 0.5em;
    color: white;
    opacity: 0.25;
}
#writing #current, #cvpage nav li a:hover {
    opacity: 1;
}
#writing .rtitle {
    background: #a49e93;
    color: white;
}
.publicphilo .rtitle {
    background: #b4a99a !important;
}
#writing .rtitle h2 {
    padding: 0.5em .75em;
    font-size: 1.5em;
    font-family: "Tungsten A", "Tungsten B", helvetica, arial, sans-serif;
    text-transform: uppercase;
}
#writing .recentmedia {
    background: white;
    color: black;
}
#writing .recentmedia article div {
    padding: 0 1em;
}
#writing .recentmedia a {
    color: black;
    text-decoration: none;
    padding: 1em 0;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
#writing .recentmedia a:hover {
    background: #3a2025;
    color: #e8dec8;
}
.publicphilo .recentmedia a:hover {
    background: #2d4475 !important;
}
#writing .recentmedia h4 {
    font-family: "Mercury Text G1 A", "Mercury Text G1 B", georgia, times, serif;
    font-size: 1.5em;
    font-weight: 400;
}
#writing .recentmedia p {
    font-family: "Gotham A", "Gotham B", helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-top: 0.75em;
}
#writing .recentmedia article:nth-child(1) {
    background: white;
}
#writing .recentmedia article:nth-child(2n) {
    background: white;
}
#writing .recentmedia article:nth-child(3n) {
    background: white;
}
#writing .recentmedia article:nth-child(4n) {
    background: white;
}
#writing .recentmedia article:nth-child(5n) {
    background: white;
}
#writing .recentmedia article:nth-child(6n) {
    background: white;
}
#writing .recentmedia article:nth-child(7n) {
    background: white;
}

/*** Accommodate Unique Screen Layouts ***/
@media only screen and (max-device-width: 480px) {
    nav li a {
        font-size: 1.3em;
    }
    .poster section {
        padding: 18em 1em 1em 1em;
        background-image: url(images/drcas.jpg);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
    }
    .latestpub {
        justify-items: stretch;
        align-items: top;
    }
    .image_wrapper {
        width: 10em;
        position: relative;
        right: 1.5em;
        top: 0.3em;
    }
    .latestpub article {
        right: 1em;
    }
    .latestpub ul, .bookentry .blists {
        display: block;
        align-items: start;
    }
    footer p {
        font-size: 0.5em;
    }
    .home {
        flex-grow: none;
    }
    #photoc {
      padding: 1.5em 0 0.25em 0;
  }
}

